/logs/*
/workload/downloaded_images
/workload/images100
/workload/php100
/workload/php_names.txt
/workload/photos_names.txt
/workload/malicious.php
/workload/userid_list.txt
/workload/extract_photo_names.sh
/workload/makeimagecopies.sh
/workload/tracee_*
/ML/*.png
/ML/plots_xplog_container.ipynb
/ML/post_process_logs.ipynb
/ML/plots_xplog.ipynb
/ML/data_reprentation.ipynb
/ML/gnn_prov_graph.ipynb
/ML/graph_to_vector.ipynb
/ML/resource_utilization.ipynb
/ML/strace_prov_graph.ipynb
/ML/test
/ML/provenance_features_Kmeans.csv



